html {
  height: 100%;
}

body {
  display: flex;
  height: 100%;
  margin: 0;
  color: #333;
  font-family: "Arial";
  touch-action: none;
  background-color: #ddd6f3;
}

body.unlocked {
  background-color: #ddd6f3;
}

a {
  text-decoration: underline;
  cursor: pointer;
}

a:link {
  color: #2a5db0;
}
a:visited {
  color: #2a5db0;
}
a:hover {
  color: #6f99dc;
}
a:active {
  color: #234d90;
}

/* Lock SVG */

.lock-container {
  flex: 1;
  max-width: 1000px;
  background-image: radial-gradient(#fbcfcf 30%, #ddd6f3 70%);
}

body.unlocked .lock-container {
  background-image: radial-gradient(#e6ffe6 30%, #ddd6f3 70%);
}

.lock {
  position: relative;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.lock-svg {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.lock-handle {
  cursor: pointer;
  fill: none;
  stroke: #000000;
  stroke-width: 40;
  transition: stroke 0.2s linear;
}

.lock-circle-outer {
  fill: rgb(0, 0, 0);
  stroke-width: 0;
}

.lock-circle-inner {
  fill: rgb(255, 255, 255);
  stroke-width: 0;
}

.lock-circle-center {
  stroke-width: 3;
}

.lock-dial {
  fill: rgb(255, 110, 110);
  stroke-width: 1;
}

.lock-spinner {
  cursor: pointer;
  transform-box: fill-box;
  stroke: black;
  transform-origin: 50% 50%;
  transition: fill 0.2s linear, stroke 0.2s linear;
}

.lock-number {
  font: bold 40px sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.lock-tick-primary {
  width: 1px;
  height: 18px;
  stroke-width: 12;
}

.lock-tick-secondary {
  width: 1px;
  height: 10px;
  stroke-width: 4;
}

.lock-handle--open {
  transform: translateY(-50px);
  transition: 0.3s ease-out;
}

.lock-handle--closed {
  animation: lock-closed-animation 0.5s;
}

@keyframes lock-closed-animation {
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

.lock-handle:hover {
  stroke: #333;
}

.lock-spinner:hover {
  fill: #333;
  stroke: #333;
}

/* Meta box */

.meta-container {
  width: 460px;
}

.meta {
  position: absolute;
  left: 0;
  top: 0;
  width: 380px;
  margin-left: 20px;
  margin-top: 20px;
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
}

.meta-title {
  text-align: center;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 10px;
}

.meta-subtitle {
  text-align: center;
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 20px;
}

.meta-hint {
  text-align: center;
  font-size: 13px;
  margin-bottom: 0;
  color: #999;
}

.meta-hint a {
  color: #999;
  text-decoration: none;
}

.meta-solution {
  text-align: center;
  background-color: #bdb0e8;
  border-radius: 30px;
  padding: 20px;
  margin: 20px 70px;
  font-size: 35px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
}

.meta-instructions {
  margin-top: 20px;
}

.meta-instructions--hidden {
  display: none;
}

.meta-instructions--visible {
  display: initial;
}

.instructions-block {
  background-color: rgba(239, 235, 249, 0.5);
  border-radius: 5px;
  box-shadow: 0 0px 4px -1px rgba(0, 0, 0, 0.2);
  margin: 20px 0 0;
  padding: 15px;
}

.instructions-title {
  color: #999;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
}

.instructions-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 5px;
}

.instructions-listItem {
  font-size: 14px;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: justify;
}

.instructions-listItem:first-child {
  padding-top: 0;
}

.instructions-listItem:last-child {
  padding-bottom: 0;
}
